github "robb/Cartography"
github "ivanbruel/MarkdownKit"
github "roberthein/TinyConstraints"
github "macteo/Marklight"
github "ElaWorkshop/TagListView"
github "Alamofire/Alamofire" "5.0.0-beta.2"
github "whitesmith/WSTagsField"
github "ReactiveCocoa/ReactiveCocoa" ~> 8.0